/*.csv
todo.txt
.ipynb_checkpoints/
__pycache__/
*.pyc

sex_adaptive_report_csv/
reports_xy/
report_single/
report_sex_adapt/
preds/
plots/
Plot_pred/
Paper_write/
models_sep/
models_sa/
line_plots/
lin_models/
align_csvs/

